
body {
    font-family: "Open Sans"", sans-serif;
    text-align: center;
    margin: 15px;
}

#navbarNav a {
    font-size: 18px;
    color: #ff751a;
}



.intro-hi {
    color: #262626;
}

header {
    margin: 5% 0 0 5%;
    color: #a6a6a6;
}

h2 {
	color: #0066ff;
}

a {
	font-color: #ffffff;
	color: #ff751a;
}
footer {
    margin: 5% 0 0 5%;
    color: #a6a6a6;
}

#contact ul {
    list-style: none;
    text-align: center;
}

#contact ul li {
    display: inline-block;
}

html
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-weight: normal;
}

h1 {
	text-align: center;
	margin: 0 0 1% 0;
}

header {
	margin: 5% 5% 5% 5%;
	color: #a6a6a6;
}

h2 {
	color: #0066ff;
}

a {
	color: #4d4dff;
}

footer {
	margin: 5% 5% 0 5%;
	text-align: center;
	color: #a6a6a6;
}